body {
  margin: 0;
  padding: 0;
  background: linear-gradient(2deg, #BA55D3, transparent);;
  color: black;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 960px) {
  .uk-h1, h1 {
    font-size: -3.375rem;
  }
}

.navbar {
  background-color: purple;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

img {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  background-size: cover; 
  background-position: center; 
  overflow: hidden; 
}

.header {
  text-align: center;
  padding: 80px 0;
  padding-bottom: 50px;
}

.intro {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(0deg, #BA55D3, transparent);
}

.intro h2 {
  margin-bottom: 0px;
}

.title {
  margin-top: 5px;
  margin-bottom: 35px;
}

.btn {
  padding: 10px 20px;
  background-color: #6f42c1;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #5a249c;
}

.footer {
  text-align: center;
  background-color: purple;
  padding: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.footer a {
  color: white;
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.about, .bio, .interests {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.love {
  color: black;
  padding-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

h1, h2 {
  margin-bottom: 20px;
}

.aboutme {
  margin-left: 50px;
  margin-right: 50px;
}